<!DOCTYPE html>
<head>
    <title><%= "#{@issue.title} - Agree the People" %></title>
</head>
<body>
  <div id="mainContainer">

    <h1><%= @issue.title %></h1>
    <h2><%= @issue.statement %></h2>

    <div id="argumentList">
        <% @arguments.each do |argument| %>
        <div .class="argument">
            <p><%= argument.for_text %></p>
        </div>
        <% end %>
    </div>
    
  </div>
</body>
</html>