<div id="footer">
  <div class="container">
    </ul>
      <li><%= link_to "Tell Us About Yourself!", "http://bit.ly/KXRdIB"%></li>
      <li><%= link_to "Follow Us", "http://twitter.com/agreethepeople"%></li>
      <li><%= link_to "Email Us", "mailto:hey@agreethepeople.com"%>
      <li><%= "© Agree The People #{Time.now.year}"%></li>
    </ul>
  </div>
</div>
